[submodule "fixtures"]
	path = fixtures
	url = https://github.com/deric/clueminer-fixtures.git
[submodule "jcool-core"]
	path = jcool-core
	url = https://github.com/cvut/jcool-core.git
[submodule "jcool-solver"]
	path = jcool-solver
	url = https://github.com/cvut/jcool-solver.git
[submodule "jcool-benchmark"]
	path = jcool-benchmark
	url = https://github.com/cvut/jcool-benchmark.git
[submodule "ytoh-configurations"]
	path = ytoh-configurations
	url = https://github.com/deric/ytoh-configurations.git
