*.class

# Package Files #
*.jar
*.war
*.ear
*~
.classpath
.project
.settings/
target/
logs/
/nbproject/private/
/clustering-gui/src/main/resources/Dendrogram/build/
/clustering-gui/src/main/resources/Dendrogram/nbproject/private
/modules/chameleon/nbproject/
/modules/clustering-dist/nbproject/
/modules/graph-alg/nbproject/
/modules/math-impl/nbproject/
/modules/dataset-impl/nbproject/
/modules/clustering-preview/nbproject/
/modules/dataset-io/nbproject/
/modules/importer-impl/nbproject/
/modules/clustering-eval/nbproject/
/modules/clustering-evolution/nbproject/
/meta-engine/nbproject/
/modules/graph-impl/nbproject/
/modules/utils/nbproject/
/modules/clustering-impl/nbproject/
/modules/bio-informatics/nbproject/
/modules/scatter/nbproject/
/modules/graph-fast/nbproject/
/modules/dendrogram/nbproject/
/modules/approximation-impl/nbproject/
/modules/clustering-gui/nbproject/
/modules/dataset-hdf/dataset-hdf/nbproject/
/modules/dataset-hdf/nbproject/
/modules/gui-utils/nbproject/
/modules/explorer/nbproject/